header {
    background-color: blue;
    text-align: center;
}

header input {
    font-size: larger;
}

header button {
    font-size: larger;
}

.icons{
    display: inline-block;
}

.current-weather {
    color: white;
    background-color: lightskyblue;
    text-align: center;
}